NEXT_PUBLIC_APP_URL=http://localhost:3000

# Local AI
OLLAMA_BRIDGE_URL=
AI_API_KEY=
AI_MODEL=deepseek-r1:1.5b

# reduOS webhook
REDUOS_WEBHOOK_KEY=

# Integrations
LISTMONK_URL=
LISTMONK_API_USER=
LISTMONK_API_TOKEN=

ACTIVEPIECES_WEBHOOK_URL=
ACTIVEPIECES_WEBHOOK_KEY=

ZAMMAD_API_URL=
ZAMMAD_API_TOKEN=

NEXT_PUBLIC_UMAMI_SCRIPT_URL=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=

UPTIME_KUMA_URL=
UPTIME_KUKA_API_KEY=

QDRANT_URL=
QDRANT_API_KEY=

FIRECRAWL_API_URL=
FIRECRAWL_API_KEY=

FLOWISE_API_URL=
FLOWISE_API_KEY=

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=

APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=

GLITCHTIP_DSN=
